.Navigation #Logo{
    -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;
    animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;
}


.Navigation #Logo svg {
    height: 32px;
    width: auto;
}