

.background-noisy-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.background-noisy {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .39;
  background-image: url(../../../assets/noise.png);
  z-index: 1;
}

html, body {
  font-family: 'Dongle', sans-serif;
  margin: 0;
  padding: 0;
}

.container-centralizer{
  z-index: 1;
}

@media screen and (max-width: 479px) {
  .container-centralizer .home{
    padding-left: 15%;
    padding-right: 15%;
  }
}

@media screen and (min-width: 480px) {
  .container-centralizer .home{
    padding-left: 8%;
    padding-right: 10%;
  }
}


@media screen and (min-width: 1440px) {
  .container-centralizer .home{
    padding-left: 18%;
    padding-right: 18%;
  }
}
