@import url(./layout//Variables.css);

:root {
  --white: white;
  --black: black;
  --greeene: #409b5e;
  --body-color: #1a1b1f;
  --border-grey: #666;
  --dark-bgkd: #0a0a0a;
  --white-smoke: #f8f6f6;
  --orange: #eb5837;
  --mediumblue: #7f93d1;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #0f0f0f
}


/* .page{
  padding-top: 76px;
} */

header {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 479px) {
  .Home header{
    height: 720px;
  }
}